<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |m| %>
    <p><%= m %></p>
  <% end %>
<% end %>

<%= f.label :category_id, "Category" %>
<%= f.select :category_id, Category.all.map{ |c| [c.name, c.id] } %>

<%= f.label :name, "Name" %>
<%= f.text_field :name %>
<%= f.label :description, "Description" %>
<%= f.text_area :description %>